<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Cars </title>
  <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<table border="1">
  <tr>
    <th>brand</th>
    <th>color</th>
    <th>id</th>
  </tr>

  <tr th:each="car , index : ${cars}">
    <td th:text="${index.count}">index</td>
    <td th:text="${car.getModel()}">Model</td>
    <td th:text="${car.getcolor()}">Color</td>
  </tr>

</table>
</body>
</html>